*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/

# Bash stuff
.env*
*.swp

#sabisu configs
config*.json
sabisu.js

#npm
node_modules

#minified
*.min.css
*.min.js
