#login
  - unless locals[:message].nil?
    .alert.alert-danger
      %button.close{:type => 'button', 'data-dismiss' => 'alert'} &times;
      %strong Error!
      = locals[:message]
  .col-centered
    %form.form-horizontal{:action => '/login', :method => 'post'}
      .form-group
        %label.col-sm-2.control-label{:for => 'username'} Username
        - if locals[:remember_me].nil?
          %input#username.form-control{:type => 'text', :name => 'username', :placeholder => 'Username'}
        - else
          %input#username.form-control{type: 'text', name: 'username', value: locals[:remember_me]}
      .form-group
        %label.col-sm-2.control-label{:for => 'password'} Password
        %input#password.form-control{:type => 'password', :name => 'password', :placeholder => 'Password'}
      .form-group
        .checkbox
          %label
            %input#remember_me{:type => 'checkbox', :name => 'remember_me'} Remember Me
        %button#loginBtn.btn.btn-primary{:type => 'submit'} Log in
