/* @override http://localhost:8080/css/events.css */

#search_field div.panel-body form.form-inline div.col-md-9.form-group {
	margin-left: 0;
	padding-left: 0;
}

#search {
	padding-bottom: 20px;
}

li.list-group-item {
	margin: 0px;
	padding: 0px 14px 0px 14px;
}

.flat-heading {
	padding: 0px;
	margin: 0x;
	min-height: 30px;
	font-size: 13px;
}

.event_line {
	height: auto;
	position: relative;
	overflow: hidden;
	background-color: #EEE;
	z-index: 1;
}

.attr_title {
	font-size: 11px;
}

.attr_value {
	font-size: 14px;
}

.event_title {
	width: 78%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu {
	z-index: 2000;
}

.output {
	background-color: lightgoldenrodyellow;
	padding: 10px;
	width: 100%;
}

.panel-body {
	padding: 0px;
}

.event-status {
	width: 1%;
	height: 100%;
	position: absolute;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#chart_pie_status {
	max-width: 100%;
	max-height: 20%;
}

#stats_field .table {
	font-size: 11px;
}

.toggleBtnIcon {
	cursor: pointer;
	margin-right: 10px;
}

.silenceBtn {
    cursor: pointer;
}

.action {
	position: absolute;
}

button.btn.btn-xs.dropdown-toggle {
	position: relative;
	right: 0;
	top: 0;
}

.popover {
    min-width: 400px;
}

div.popover-content {
	margin-bottom: 40px;
}

button.deleteSilenceBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

div.radio {
	padding-bottom: 5px;
}

.appendQuery {
	color: #18bc9c;
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

span#corner_status {
  background-color: #EEE;
  position: fixed;
  padding: 0px 10px;
  font-size: 8pt;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 6px;
}

/* Typeahead */

.twitter-typeahead {
  width: 100%;
}

.tt-dropdown-menu {
  text-align: left;
}

.tt-hint {
  color: #999;
  font-size: 15px;
  height: 43px;
  width: 422px;
  padding: 10px 15px;
}

.tt-dropdown-menu {
  width: 200px;
  margin-top: 0px;
  margin-left: 5px;
  padding: 0 0 8px 0;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid #ccc;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-bottom-left-radius: 8px;
     -moz-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
     -moz-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 15px;
  line-height: 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
