/* @override http://localhost:8080/css/events.css */

li.list-group-item {
	margin: 0px;
	padding: 0px 14px 0px 14px;
}

.flat-heading {
	padding: 0px;
	margin: 0x;
	min-height: 30px;
	font-size: 13px;
}

.event_line {
	height: auto;
	position: relative;
	overflow: hidden;
	background-color: #EEE;
}

.attr_title {
	font-size: 11px;
}

.attr_value {
	font-size: 14px;
}

.event_title {
	width: 75%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.output {
	background-color: lightgoldenrodyellow;
	padding: 10px;
	width: 100%;
}

.panel-body {
	padding: 0px;
}

.event-status {
	width: 1%;
	height: 100%;
	position: absolute;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

